@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>星辰杂货</h1>
    <p class="text-success">他低头，瞧见的，是那只藏匿在花海的麋鹿。</p>
    <p class="text-danger">银床淅沥青梧老，屧粉秋蛩扫。采香行处蹙连线，拾得翠翘何恨不能言。</p>
    <p class="text-info">回廊一寸相思地，落月成孤倚。背灯和月就花阴，已是十年踪迹十年心...</p>
    <p><a href="@Url.Action("Login")" class="btn btn-primary btn-lg">Join in &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>