@model bookshop.genre
@{
    ViewBag.Title = "挑选书籍";
}

<h2>书籍种类： @Model.Name </h2>

<ul>
    @foreach (var book in Model.book)
    {
        <li>
            @Html.ActionLink(book.Title, "Details", new { id=book.Id})
        </li>
    }
</ul>